# libvirt Connection
libvirt_uri = "qemu:///system"

# Cluster Name
cluster_name = "k3s-dev"

# Flatcar Base Image
# Download: wget https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_qemu_image.img.bz2
base_image_path = "/home/user/Downloads/flatcar_production_qemu_image.img"

# Storage Pool
pool_path = "/var/lib/libvirt/images"

# SSH Keys
ssh_keys = [
  "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI... user@hostname"
]

# Server Nodes
server_count  = 1
server_vcpu   = 2
server_memory = 4096

# Agent Nodes
agent_count  = 2
agent_vcpu   = 2
agent_memory = 2048

# Network
network_name  = "default"
graphics_type = "spice"

# k3s Token (optional - wird automatisch generiert)
# k3s_token = "my-secret-token"
